*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: white;
}
li {
	float: left;
	list-style: none;
}
.clear{
	clear: both;
}
header{
	top: 0;
	background-image: url("../imeg/fon1.jpg");
	width: 100%;
	height: auto;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	
}
.header_menu{
	background-image: linear-gradient(rgba(0,0,0,1), rgba(255,255,255,0));
	height: 110px;
	position: fixed;
	width: 100%;
	max-width: inherit;
	z-index: 1;


}
.header_menu_0{
	height: 110px;
	max-width: 1250px;
	margin: 0 auto;
}

.header_menu_0 img{
	float: left;
	margin-top: 8px;
	margin-left: 5px;
}
.header_menu_1{
	position: relative;
	float: right;

}
.header_menu_1 ul{
	position: relative;
	display: inline-block;
	padding: 0;
	margin: 0;
}
.header_menu_1 li{
	font-size: 21px;
	font-family: 'Gentium Book Basic', serif;
	font-weight: bold;
}
.menu__category{
	display: inline-block;
	float: both;
}
.menu__social{
	display: inline-block;
	float: right;
}
.header_menu_1_2 li{
	padding-top: 50px;
	
}
.header_menu_1_2 a{
	padding-top: 47px;
	margin-left: 35px;
	margin-right: 15px; 

}
.header_menu_1_2 a:hover{
	border-top: 3px solid #cbc8be;
}
.menu__social li{
	padding: 50px 15px 0 0;

}
.menu__social a{
	color: #dab33e;
}

.header_section{
	position: relative;
	margin: 0 auto;
	text-align: center;
}
.header_section p{
	display: inline-block;
	line-height: 1.3;
	color: white;
	font-size: 90px;
	font-family: 'Yeseva One', cursive;
	margin-top: 215px;
	margin-bottom: 25px;
}
.header_section img {
	float: both;
	margin-bottom: 30px;
}
.bg{
	display: inline-block;
	position: relative;
	border-width: 1px;
	border-color: rgb(0, 0, 0);
	border-style: solid;
	background-color: rgba(0, 0, 0, 0.7);
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	padding: 17px 50px;
	margin-right:30px;
	margin-bottom: 147px;
}
.bg:hover{
	background-color: rgba(0, 0, 0, 0.9);
}
.bg1 {
	display: inline-block;
	border-width: 1px;
	border-color: rgb(255, 255, 255);
	border-style: solid;
	background-color: rgba(255, 255, 255, 0.278);
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	padding: 17px 50px;
}
.bg1:hover{
	background-color: rgba(255, 255, 255, 0.478);
}
.section_one{
	background-image: url("../imeg/fon2.png"), url("../imeg/fon2.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	height: auto;
	position: relative;
	margin-top: -3px;	
	width: 100%;
}
.contein{
	margin: 0 auto;
	max-width: 1250px;
}
.contein_1{
	float: left;
	text-align: center;
	width: 35%;
	margin-left: 50px;
}
.contein_1 h2{
	display: inline-block;
	color: #cc9900;
	font-size: 36px;
	font-family: 'Yeseva One', cursive;
	margin-top: 100px;
	margin-bottom: 15px;
	font-weight: normal;
}
.contein_1 p{
	display: inline-block;
	color: #4c4c4c;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	line-height: 1.5;
	margin-top: 23px;
	margin-bottom: 52px;

}
.cook{
	margin: 0 auto;
	
}
.contein_12 img {
	float: right;
	margin-top: 55px;
	margin-bottom: 28px;
	width: 50%
	
}
.section_two{
	display: inline-block;
	background-image: url("../imeg/fon3.jpg");
	width: 100%;
	height: auto;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	margin-top: -5px;
}
.section_two_one{
	margin: 0 auto;
	max-width: 1250px;
	
}
.contein_2{
	position: relative;
	background-color: rgba(0, 0, 0, 0.67); 
	float: right;
	text-align: center;
	color: white;
	float: right;
	width: 570px; 
	height: 557px;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-right: 15px;
}
.contein_2 h2{
	display: inline-block;
	margin-top: 75px;
	margin-bottom: 15px;
	font-size: 36px;
	font-family: 'Yeseva One', cursive;
	font-weight: normal;
}
.contein_2 p{
	display: inline-block;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	line-height: 1.5;
	margin-top: 25px;
	width: 415px;
}
.ingredient{
	width: 393px;
	margin: 65px 0 0 90px;
}
.ingredient1{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border-width: 5px;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.2);
	overflow: hidden;
	background-image: url("../imeg/ingredient.jpg");
	background-repeat: no-repeat; 
	background-position: -25px -40px;
	float: left;
	margin-right: 30px;
}
.ingredient2{
	float: left;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border-width: 5px;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.2);
	overflow: hidden;
	background-image: url("../imeg/ingredient2.jpg");
	background-repeat: no-repeat; 
	background-position: -25px -40px;
	margin-right: 30px;
}
.ingredient3{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border-width: 5px;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.2);
	overflow: hidden;
	background-image: url("../imeg/ingredient3.jpg");
	background-repeat: no-repeat; 
	background-position: -25px -40px;
}
.section_three{
	background-image: url("../imeg/fon4.png"), url("../imeg/fon4.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	height: auto;
	margin-top: -5px;
	width: 100%;

}
.section_four{
	background-image: url("../imeg/fon5.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: auto;
	padding: 100px 0;
	position: relative;
	width: 100%;
}
.contein_4{
	background-image: url("../imeg/fon5.png");
	text-align: center;
	color: white;
	width: 770px; 
	height: 557px;
	/*top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%) */
	margin: auto;
}
.contein_4 h2{
	display: inline-block;
	margin-top: 75px;
	margin-bottom: 20px;
	font-size: 36px;
	font-family: 'Yeseva One', cursive;
	font-weight: normal;
}
.contein_4 p{
	display: inline-block;
	font-size: 25px;
	font-family: 'Gentium Book Basic', serif;
	line-height: 1.8;
	margin-top: 5px;
	margin-bottom: 30px;
	width: 630px;
	color: #dde0df;
	font-weight: bold;
}
p.contein_41{
	font-size: 18px;
	font-family: 'Lato', sans-serif;
}
.section_five{
	background-image: url("../imeg/fon6.png"), url("../imeg/fon6.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	height: auto;
	position: relative;
	width: 100%;
}
.contein_5{
	margin: 0 auto;
	max-width: 1250px;
}
.section_imeg{
	width: 62%;
}
.cont_5_imeg1{
	float: left;
	margin: 100px 25px 100px 25px;
}
.cont_5_imeg2{
	float: left;
	margin: 100px 0 100px 0;
}
.contein_5_1{
	float: right;
	margin-top: 99px;
	text-align: center;
	width: 430px;
	margin-right: 15px;
}
.contein_5_1 h2{
	color: #cc9900;
	display: inline-block;
	font-size: 36px;
	font-family: 'Yeseva One', cursive;
	font-weight: normal;
}
.contein_5_1 img{
	margin-top: 14px;
	margin-bottom: 12px; 
}
.contein_5_1 p{
	color: #4c4c4c;
	display: inline-block;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	line-height: 1.5;
	margin-top: 10px;
}
.booking{
	/*text-align: left;*/
	margin-top: 12px;
}
label{
	float: left;
	color: #c9a131;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;

}
select{
	display: inline-block; 
	border-width: 1px;
	border-color: rgb(200, 198, 198);
	border-style: solid;
	background-color: rgba(255, 255, 255, 0.4);
	height: 36px;
	width: 198px;
	padding-left: 10px;
}
input{
	border-width: 1px;
	border-color: rgb(200, 198, 198);
	border-style: solid;
	background-color: rgba(255, 255, 255, 0.4);
	height: 34px;
	width: 188px;
	padding-left: 10px;
}
input[placeholder]{
	color: #7c7c7c;
	font-style: italic;
}
.form_name, .form_date{
	float: left;
	margin-top: 30px;
	
}
.form_email, .form_number{
	float: right;
	margin-top: 30px;
}
input[type="date"]::before {
	content: attr(placeholder);
	color: #bfbdbd;
	font-style: italic;
}
input[type="date"] {
	color: #ffffff;
}
input[type="date"]:focus,
input[type="date"]:valid {
	color: #666666;
}
input[type="date"]:focus::before,
input[type="date"]:valid::before {
	content: "" !important;
}
input[type="date"]::-webkit-inner-spin-button {
	opacity: 0
}
input[type="date"]::-webkit-calendar-picker-indicator {
	background: url(https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/calendar-16.png) center/70% no-repeat;
	color: rgba(0, 0, 0, 0);
	opacity: 0.5
}
input[type="date"]::-webkit-calendar-picker-indicator:hover {
	background: url(https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/calendar-16.png) center/70% no-repeat;
	opacity: 0.8
}
select:required:invalid {
	color: #bfbdbd;
	font-style: italic;
}
option[value=""][disabled] {
	display: none;
}
option {
	color: black;
}
.button_book{
	clear: both;
	color: white;
}
.button_book a{
	border-width: 1px;
	border-color: rgb(200, 159, 45);
	border-style: solid;
	background-color: rgba(200, 159, 45, 0.98);
	display: inline-block;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	height: 26px;
	margin-top: 32px;
	padding-top: 8px;
	width: 198px;
}
.button_book a:hover{
	border-color: rgba(200, 159, 45, 0.5);
	background-color: rgba(200, 159, 45, 0.6);
}
footer{
	background-color: #191919;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	display: inline-block;
	height: auto;
	text-align: center;
	position: relative;
	width: 100%;
	margin-bottom: -5px;
}
.footer_contein{
	margin: 0 auto;
	max-width: 1250px;
}
.footer_contein_1{
	float: left;
	width: 33%;
}
.footer_contein_2{
	float: left;
	width: 33%;
}
.footer_contein_3{
	float: right;
	margin-bottom: 65px;
	width: 33%;
}
footer img{
	margin-top: 15px;
	margin-bottom: 15px;
}
footer h3{
	display: inline-block;
	font-size: 21px;
	font-family: 'Yeseva One', cursive;
	font-weight: normal;
	margin-top: 60px;
}
footer p{
	display: inline-block;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
}
.footer_contein_1 p{
	padding-right: 20px;
}
.card_pay, .social_set{
	display: inline-block;
	margin-top: 50px;
}
.card_pay li{
	margin: 0 7px;
}
.social_set li{
	margin: 0 7px;
}
