@import "vars";

$sx-mobile: "only screen and (max-width: 480px)";
$mobile: "only screen and (max-width: 767px)";
$table: "only screen and (max-width: 992px)";
$standart: "only screen and (max-width: 1024px)";
$larg: "only screen and (min-width: 1025px)";
