$menu-text-color: #232323;
$search-input-color: #e8e4f1;
$color-yellow: #fff200;
$color-tetx-submrnu: #fdfdfd;
$white: white;
$text-blue: #009dda;
$text-grey: #999;
$text-grey-darck: #373737;
$darck-blue: #503392;
$border-block: #EBEBEB;
$text-skillbar: #444;
$text-footer: #f3f3f3;
$bg-copyright: #1a1a1a;
$text-copyright: #7a7a7a;
$text-grey-footer: #98999A;
