@import "vars";
@import "_mixins/mixin";
@import "media";

//style navbar and logo
header{
  .navbar{
    background-color: $menu-body-color;
    border: none;
    border-radius: 0;
    height: 66px;
    .navbar-header{
      .navbar-brand{
        height: auto;
        padding: 0;
        margin: 17px 0 0 -2px;
        @media #{$mobile}{
          margin: 15px;
        }
      }
      .navbar-toggle{
        margin-top: 17px;
        background-color: white;
        border: none;
        border-radius: 2px;
        .icon-bar{
          background-color: $menu-body-color;
        }
      }
    }
    .navbar-collapse{
      float: right;
      padding: 0 5px;
      ul{
        li{
          a{
            @include text($helveticaneuel, 16px, $menu-text-color);
            padding: 23px 14px;
            &:hover{
              background-color: $hover-menu;
              color: $menu-text-color;
            }
          }
          .left-btn{
            background-color: transparent;
            border: 1px solid $menu-text-color;
            border-radius: 4px;
            margin-top: 19px;
            margin-left: 25px;
            padding: 4px 16px;
            @include text($helveticaneuel, 16px, $menu-text-color);
            &:hover{
              color: $hover-btn-menu;
              border-color: $hover-btn-menu;
            }
          }
        }
      }
    }
  }
}


