$default-font: "roboto-example", sans-serif;
$accent: orange;
$menu-body-color: #333333;
$menu-text-color: #fff;
$hover-menu: #5cb68c;
$hover-btn-menu: #c3c3c3;
$color-text: black;
$hover-text: rgba(45, 45, 45, 0.79);
$border-color: #F0F0F0;