$menu-body-color: #333333;
$white: #fff;
$color-text: black;
$border-color: #F0F0F0;
$form-bg-color: #F2F5FA;
$color-light-blue: #58709d;
$color-list: #171717;
$left-border: #006cb3;
$list-marker: #006db4;
$input-color: #e6ebf3;
$input-plechol: #58709d;
$client-bg: #f2f5fa;
$tab-text-header: #c2d4f8;
$color-grey: #8e8e8e;
$tab-border: #009ad6;
$text-dark-blue: #1e283c;
$line-blue: #00cad6;
$buron-slider: #f7faff;
$block-text-bg: #fdfefe;
$color-darck-grey: #626567;
$active-menu: #6da3de;
$red: #e34d4a;